<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<groups>
		<define name = "Groups">
		<include name = "Login"/>
		</define>
			<run>
				<include name="Groups" />
			</run>
		</groups>
	</test>
 	<test thread-count="5" name="Classes">
		<classes>
			<class name="Assignment.NOPCommerce" />
		</classes>
	</test> 
</suite> <!-- Suite -->
 